
<section class="payment-wrapper">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="breadcrumb">
      <ul class="breadcrumb__list">
        <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Home</a>
        </li>
        <li class="breadcrumb__item"><span class="breadcrumb__link">Payment and delivery</span>
        </li>
      </ul>
    </div>
    <div class="payment">
      <h1 class="payment__title title">Payment and delivery
      </h1>
      <div class="payment__wrapper"> 
        <div class="payment__left-side"> 
          <div class="payment-card"> 
            <div class="payment-card__image-wrapper"> <img class="payment-card__image" src="../../../static/img/payment/payment1.png"/>
            </div>
            <div class="payment-card__text-wrapper"> 
              <p class="payment-card__text text">Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum
              </p>
            </div>
          </div>
          <div class="payment-card"> 
            <div class="payment-card__image-wrapper"> <img class="payment-card__image" src="../../../static/img/payment/payment2.png"/>
            </div>
            <div class="payment-card__text-wrapper"> 
              <p class="payment-card__text text">Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum
              </p>
            </div>
          </div>
          <div class="payment-card"> 
            <div class="payment-card__image-wrapper"> <img class="payment-card__image" src="../../../static/img/payment/payment3.png"/>
            </div>
            <div class="payment-card__text-wrapper"> 
              <p class="payment-card__text text">Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum 
              </p>
            </div>
          </div>
        </div>
        <div class="payment__right-side">
          <div class="payment__paragraph-wrapper">
            <p class="payment__paragraph text">Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum nonumy mel id. Modus conceptam at mea. Per tamquam debitis voluptatum at. Explicari voluptaria moderatius ea est, natum doming cum eu.
            </p>
            <p class="payment__paragraph text">Per ea eripuit repudiare scribentur, facer intellegam delicatissimi qui ei. Sale tation vidisse eam id, nibh dolor petentium quo ne. Mazim postulant iudicabit ius in, cu ius velit euripidis, et has inani deserunt instructior. 
            </p>
            <p class="payment__paragraph text">Euripidis deseruisse usu id. Ei augue corpora electram pro, rebum putant ex mea, nam eu justo aperiri pertinax. Regione dolorum sit ne, nonumes petentium ei est, sed aeterno volumus ad. Doming omittam te qui, mutat possim deterruisset pri in. Inermis docendi id pri.
            </p>
            <p class="payment__paragraph text">At tantas verear volumus nam, nec accumsan pertinax no, ut pro illud feugiat deseruisse. At pri oblique sanctus percipit, everti nonumes definitionem in vel, ad alterum dolorum inimicus sea. Usu quas assum eligendi ei, assum facilisi posidonium ei vim. Iisque tacimates no nam, duis oblique diceret ut per.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>