include ./../../mixins/index

+b.header-wrapper.HEADER
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.header
      +e.left-part
        +b.menu-icon#js-trigger
          +e.line.--top.SPAN
          +e.line.--middle.SPAN
          +e.line.--bottom.SPAN

        +b.logo.--header.A(href="#") shop shop

      +b.menu#js-menu.NAV
        +e.dropwown-warpper
          +b.dropdown
            +e.left
              +e.item.--show.SPAN EN
              +e.item.SPAN RU
            +e.middle 
              +e.line.SPAN |
            +e.right 
              +e.trigger-wrapper 
                +e.trigger-image.img.IMG(src='../static/img/common/dropdown-arrow.svg')
          +b.dropdown
            +e.left
              +e.item.--show.SPAN UAN
              +e.item.SPAN USD
            +e.middle 
              +e.line.SPAN |
            +e.right 
              +e.trigger-wrapper 
                +e.trigger-image.img.IMG(src='../static/img/common/dropdown-arrow.svg')
        
        +b.menu-body
          +e.list.UL 
            +e.item.js-menu-link.LI 
              +e.link.A(href="#") Home
            +e.item.js-menu-link.LI 
              +e.link.--active.A(href="#") Catalog
            +e.item.js-menu-link.LI 
              +e.link.A(href="#") Payment and delivery
            +e.item.js-menu-link.LI 
              +e.link.A(href="#") Contacts
            +e.item.js-menu-link.LI 
              +e.link.A(href="#") About us

      +e.right-part
        +b.search-wrapper
          +e.search-trigger.img.IMG(src='../static/img/header-footer/menu-search.svg')
        
        +b.cart 
          +e.counter 
            +e.count.SPAN 3
          +e.wrapper 
            +e.image.img.IMG(src='../static/img/header-footer/menu-cart.svg')
        
        +b.header-auth 
          +e.icon-wrapper 
            +e.icon.img.IMG(src='../static/img/header-footer/menu-persone.svg')
          +e.title.P login