
<section class="clothes-tabs-wrapper"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="clothes-tabs">
      <div class="clothes-tabs__tabs-wrapper"> 
        <div class="tabs-list"> 
          <div class="category-row"> <span class="category-row__category js-category" data-image="../static/img/main/whom/man.png">men</span><span class="category-row__category js-category" data-image="../static/img/main/whom/women.png">women</span><span class="category-row__category js-category is-active" data-image="../static/img/main/whom/boy.png">kids </span>
          </div>
          <div class="clothes-row"> 
            <div class="clothes-row__column"> <a class="clothes-row__category" href="#">Jackets</a><a class="clothes-row__category" href="#">Shirts</a>
            </div>
            <div class="clothes-row__column"> <a class="clothes-row__category" href="#">Pants</a><a class="clothes-row__category" href="#">Shorts</a>
            </div>
            <div class="clothes-row__column"> <a class="clothes-row__category" href="#">Footwear</a><a class="clothes-row__category" href="#">Accessories</a>
            </div>
          </div>
        </div>
        <div class="clothes-tabs__image-part"> 
          <div class="clothes-tabs__image-wrapper"> <img class="clothes-tabs__image js-image img" src="../static/img/main/whom/boy.png"/>
          </div>
        </div>
      </div>
      <div class="clothes-tabs__abs-image"> <img class="clothes-tabs__image img" src="../static/img/abs/abs-lines.png"/>
      </div>
      <div class="clothes-tabs__abs-image-rev"> <img class="clothes-tabs__img-rev img" src="../static/img/abs/lines-rev.png"/>
      </div>
      <div class="clothes-tabs__abs-circles"><img class="clothes-tabs__circles-image img" src="../static/img/abs/abs-ellips.png"/>
      </div>
      <div class="clothes-tabs__abs-elios"> <img class="clothes-tabs__elios-image img" src="../static/img/abs/abs-main-elios.png"/>
      </div>
    </div>
  </div>
</section>