
<div class="main-grey-wrapper">
  <div class="white-line-wrapper">
    <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
      <div class="white-line"> 
        <div class="white-line__abs-image-wrapper"> <img class="white-line__abs-image img" src="../static/img/abs/abs-lines.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="grey-bg">
    <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
      <div class="main-grey">
        <div class="main-grey__product-slider-wrapper">
          <div class="main-product-slider">
            <div class="main-product-slide">
              <div class="main-product-slide__image-wrapper"> <img class="main-product-slide__image img" src="../static/img/main/bottom-slider/main-slider-1.png"/>
                <div class="main-product-slide__hover"> <a class="main-product-slide__hover-btn" href="#">go to product</a>
                </div>
              </div>
              <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                <div class="image-desc__price-wrapper"> <span class="image-desc__new-price">$39</span>
                </div>
              </div>
            </div>
            <div class="main-product-slide">
              <div class="main-product-slide__image-wrapper"> <img class="main-product-slide__image img" src="../static/img/main/bottom-slider/main-slider-2.png"/>
                <div class="main-product-slide__hover"> <a class="main-product-slide__hover-btn" href="#">go to product</a>
                </div>
              </div>
              <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                <div class="image-desc__price-wrapper"> <span class="image-desc__new-price">$39</span>
                </div>
              </div>
            </div>
            <div class="main-product-slide">
              <div class="main-product-slide__image-wrapper"> <img class="main-product-slide__image img" src="../static/img/main/bottom-slider/main-slider-3.png"/>
                <div class="main-product-slide__hover"> <a class="main-product-slide__hover-btn" href="#">go to product</a>
                </div>
              </div>
              <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                <div class="image-desc__price-wrapper"> <span class="image-desc__new-price">$39</span>
                </div>
              </div>
            </div>
            <div class="main-product-slide">
              <div class="main-product-slide__image-wrapper"> <img class="main-product-slide__image img" src="../static/img/main/bottom-slider/main-slider-1.png"/>
                <div class="main-product-slide__hover"> <a class="main-product-slide__hover-btn" href="#">go to product</a>
                </div>
              </div>
              <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                <div class="image-desc__price-wrapper"> <span class="image-desc__new-price">$39</span>
                </div>
              </div>
            </div>
            <div class="main-product-slide">
              <div class="main-product-slide__image-wrapper"> <img class="main-product-slide__image img" src="../static/img/main/bottom-slider/main-slider-2.png"/>
                <div class="main-product-slide__hover"> <a class="main-product-slide__hover-btn" href="#">go to product</a>
                </div>
              </div>
              <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                <div class="image-desc__price-wrapper"> <span class="image-desc__new-price">$39</span>
                </div>
              </div>
            </div>
            <div class="main-product-slide">
              <div class="main-product-slide__image-wrapper"> <img class="main-product-slide__image img" src="../static/img/main/bottom-slider/main-slider-3.png"/>
                <div class="main-product-slide__hover"> <a class="main-product-slide__hover-btn" href="#">go to product</a>
                </div>
              </div>
              <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                <div class="image-desc__price-wrapper"> <span class="image-desc__new-price">$39</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-grey__partners-slider-wrapper">
          <h2 class="main-grey__title">Trust us 
          </h2>
          <div class="main-partners-slider"> 
            <div class="main-partners-slide"><a class="main-partners-slide__image-wrapper" href="#" target="_blank"><img class="main-partners-slide__image" src="../static/img/main/partners/partner-1.svg"/></a>
            </div>
            <div class="main-partners-slide"><a class="main-partners-slide__image-wrapper" href="#" target="_blank"><img class="main-partners-slide__image" src="../static/img/main/partners/partner-2.svg"/></a>
            </div>
            <div class="main-partners-slide"><a class="main-partners-slide__image-wrapper" href="#" target="_blank"><img class="main-partners-slide__image" src="../static/img/main/partners/partner-3.svg"/></a>
            </div>
            <div class="main-partners-slide"><a class="main-partners-slide__image-wrapper" href="#" target="_blank"><img class="main-partners-slide__image" src="../static/img/main/partners/partner-4.svg"/></a>
            </div>
            <div class="main-partners-slide"><a class="main-partners-slide__image-wrapper" href="#" target="_blank"><img class="main-partners-slide__image" src="../static/img/main/partners/partner-5.svg"/></a>
            </div>
            <div class="main-partners-slide"><a class="main-partners-slide__image-wrapper" href="#" target="_blank"><img class="main-partners-slide__image" src="../static/img/main/partners/partner-3.svg"/></a>
            </div>
          </div>
        </div>
        <div class="bottom-text"> 
          <div class="bottom-text__paragraph-wrapper"> 
            <p class="bottom-text__paragraph">Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum nonumy mel id. Modus conceptam at mea. Per tamquam debitis voluptatum at. Explicari voluptaria moderatius ea est, natum doming cum eu.
            </p>
          </div>
          <div class="bottom-text__paragraph-wrapper"> 
            <p class="bottom-text__paragraph">Per ea eripuit repudiare scribentur, facer intellegam delicatissimi qui ei. Sale tation vidisse eam id, nibh dolor petentium quo ne. Mazim postulant iudicabit ius in, cu ius velit euripidis, et has inani deserunt instructior. Malis epicuri an mea, at mundi adipisci neglegentur duo. Duis exerci neglegentur te mel, no choro rationibus vel. Inermis definitionem nec ex, has meis vitae persecuti cu.
            </p>
          </div>
          <div class="bottom-text__paragraph-wrapper"> 
            <p class="bottom-text__paragraph">Euripidis deseruisse usu id. Ei augue corpora electram pro, rebum putant ex mea, nam eu justo aperiri pertinax. Regione dolorum sit ne, nonumes petentium ei est, sed aeterno volumus ad. Doming omittam te qui, mutat possim deterruisset pri in. Inermis docendi id pri.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>