
<section class="sales-wrapper">
  <div class="sales-wrapper__bg-wrapper"><img class="sales-wrapper__image-bg" src="../../../static/img/main/main-bottom-bg.png"/>
  </div>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="sales-leaders" id="sales">
      <h2 class="sales-leaders__title"><span class="sales-leaders__span">Sales leaders</span> this week
      </h2>
      <div class="sales-leaders__row"> 
        <div class="sales-leaders__column sales-leaders__column--lg"><a class="sales-leaders__image-wrapper sales-leaders__image-wrapper--lg" href="#"><img class="sales-leaders__image img" src="../../../static/img/main/saled/saled-main-1.png"/></a>
          <div class="image-desc"> <a class="image-desc__name" href="#">Nike Air Max 2017</a>
            <div class="image-desc__price-wrapper"> <span class="image-desc__old-price">$220</span><span class="image-desc__new-price">$190</span>
            </div>
          </div>
        </div>
        <div class="sales-leaders__column sales-leaders__column--sm">
          <div class="sales-leaders__grid"><a class="sales-leaders__image-wrapper sales-leaders__image-wrapper--sm" href="#"><img class="sales-leaders__image img" src="../../../static/img/main/saled/saled-main-2.png"/></a>
            <div class="image-desc"> <a class="image-desc__name" href="#">NIKE IMPOSSIBLY LIGHT</a>
              <div class="image-desc__price-wrapper"> <span class="image-desc__old-price">$100</span><span class="image-desc__new-price">$80</span>
              </div>
            </div><a class="sales-leaders__image-wrapper sales-leaders__image-wrapper--sm" href="#"><img class="sales-leaders__image img" src="../../../static/img/main/saled/saled-main-3.png"/></a>
            <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
              <div class="image-desc__price-wrapper"> <span class="image-desc__old-price">$60</span><span class="image-desc__new-price">$39</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>