
<div class="top-slider-wrapper"> 
  <div class="top-slider-wrapper__bg-wrapper"><img class="top-slider-wrapper__bg" src="../static/img/main/main-top-bg.png"/>
    <div class="top-slider-wrapper__green-mask">
    </div>
  </div>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="slider-wrapper"> 
      <div class="main-top-slider"> 
        <div class="main-top-slide"> 
          <div class="main-top-slide__image-part"> <a class="main-top-slide__image-wrapper" href="#"><img class="main-top-slide__image img" src="../static/img/main/top-slider/top-slider-1.png"/></a>
          </div>
          <div class="main-top-slide__text-part">
            <div class="main-top-slide__text-wrapper"> <a class="main-top-slide__title" href="#">Mobility Speed Stripe1</a>
              <p class="main-top-slide__subtitle">MEN'S STANDARD FIT GOLF POLO
              </p>
              <div class="main-top-slide__price"> <span class="main-top-slide__new-price">$75</span><span class="main-top-slide__old-price">$100</span>
              </div><a class="main-top-slide__button" href="#">Go to product</a>
            </div>
          </div>
        </div>
        <div class="main-top-slide"> 
          <div class="main-top-slide__image-part"> <a class="main-top-slide__image-wrapper" href="#"><img class="main-top-slide__image img" src="../static/img/main/top-slider/top-slider-1.png"/></a>
          </div>
          <div class="main-top-slide__text-part">
            <div class="main-top-slide__text-wrapper"> <a class="main-top-slide__title" href="#">Mobility Speed Stripe2</a>
              <p class="main-top-slide__subtitle">MEN'S STANDARD FIT GOLF POLO
              </p>
              <div class="main-top-slide__price"> <span class="main-top-slide__new-price">$75</span><span class="main-top-slide__old-price">$100</span>
              </div><a class="main-top-slide__button" href="#">Go to product</a>
            </div>
          </div>
        </div>
        <div class="main-top-slide"> 
          <div class="main-top-slide__image-part"> <a class="main-top-slide__image-wrapper" href="#"><img class="main-top-slide__image img" src="../static/img/main/top-slider/top-slider-1.png"/></a>
          </div>
          <div class="main-top-slide__text-part">
            <div class="main-top-slide__text-wrapper"> <a class="main-top-slide__title" href="#">Mobility Speed Stripe3</a>
              <p class="main-top-slide__subtitle">MEN'S STANDARD FIT GOLF POLO
              </p>
              <div class="main-top-slide__price"> <span class="main-top-slide__new-price">$75</span><span class="main-top-slide__old-price">$100</span>
              </div><a class="main-top-slide__button" href="#">Go to product</a>
            </div>
          </div>
        </div>
        <div class="main-top-slide"> 
          <div class="main-top-slide__image-part"> <a class="main-top-slide__image-wrapper" href="#"><img class="main-top-slide__image img" src="../static/img/main/top-slider/top-slider-1.png"/></a>
          </div>
          <div class="main-top-slide__text-part">
            <div class="main-top-slide__text-wrapper"> <a class="main-top-slide__title" href="#">Mobility Speed Stripe4</a>
              <p class="main-top-slide__subtitle">MEN'S STANDARD FIT GOLF POLO
              </p>
              <div class="main-top-slide__price"> <span class="main-top-slide__new-price">$75</span><span class="main-top-slide__old-price">$100</span>
              </div><a class="main-top-slide__button" href="#">Go to product</a>
            </div>
          </div>
        </div>
      </div><a class="abs-circle js-scroll" href="#sales"><span class="abs-circle__image-wrapper"><img class="abs-circle__image" src="../static/img/abs/arrow.svg"/></span></a>
    </div>
  </div>
</div>