include ../../../mixins/breadcrumbs
include ../../../mixins/index

+b.text-page-wrapper.SECTION 
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +breadcrumb(['Home', 'Text page'])
    +b.text-page 
      +e.title.title.H1 text page
      +e.description.P Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum nonumy mel id. Modus conceptam at mea. Per tamquam debitis voluptatum at. Explicari voluptaria moderatius ea est, natum doming cum eu.
      +b.text-wrapper 
        +e.text.text.P Per ea eripuit repudiare scribentur, facer intellegam delicatissimi qui ei. Sale tation vidisse eam id, nibh dolor petentium quo ne. Mazim postulant iudicabit ius in, cu ius velit euripidis, et has inani deserunt instructior. 

      +b.br 

      +b.text-table.TABLE 
        +e.thead.THEAD
          +e.tr.TR
              +e.th.TH number
              +e.th.TH DATE
              +e.th.--large.TH
              +e.th.TH Value
              +e.th.TH Payment status
              +e.th.TH status
        +e.tbody.TBODY 
          +e.tr.--grey.TR 
            +e.td.TH # 566765
            +e.td.TH 26.06.2017
            +e.td.--large.TH
            +e.td.TH $ 150
            +e.td.TH paid
            +e.td.TH delivered
          +e.tr.TR 
            +e.td.TH # 566765
            +e.td.TH 26.06.2017
            +e.td.--large.TH
            +e.td.TH $ 150
            +e.td.TH paid
            +e.td.TH delivered
          +e.tr.--grey.TR 
            +e.td.TH # 566765
            +e.td.TH 26.06.2017
            +e.td.--large.TH
            +e.td.TH $ 150
            +e.td.TH paid
            +e.td.TH delivered
     
      +e.subtitle.H2 Lorem ipsum dolor sit amet, id fugit omnesque

      +b.text-wrapper 
        +e.text.text.P Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum nonumy mel id. Modus conceptam at mea. Per tamquam debitis voluptatum at. Explicari voluptaria moderatius ea est, natum doming cum eu.
      
      +b.text-wrapper 
        +e.text.text.P Per ea eripuit repudiare scribentur, facer intellegam delicatissimi qui ei. Sale tation vidisse eam id, nibh dolor petentium quo ne. Mazim postulant iudicabit ius in, cu ius velit euripidis, et has inani deserunt instructior. 
      
      +b.blockquote-wrapper
        +e.blockquote.BLOCKQUOTE Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum nonumy mel id. Modus conceptam at mea. Per tamquam debitis voluptatum at. Explicari voluptaria moderatius ea est, natum doming cum eu.
      
      +b.list-wrapper 
        +e.left-part 
          +e.item-wrapper 
            +e.sign.--number 1
            +e.item.text.P Lorem ipsum dolor sit amet, an utamur lobortis nam. Ad fugit veritus albucius vim, harum tation has ut. Ex eum dolor habemus qualisque, 
          +e.item-wrapper 
            +e.sign.--number 2
            +e.item.text.P Per modo accumsan iudicabit no, et velit patrioque evertitur pro, nec propriae indoctum ei. An ius ludus partem interesset, vel deserunt explicari 
          +e.item-wrapper 
            +e.sign.--number 3
            +e.item.text.P Prima nullam id pri, no ius sint veri scripserit, id has nominati quaerendum. Primis scribentur consequuntur ne mel, pro amet pertinax platonem ea. 

        +e.right-part
          +e.item-wrapper 
            +e.sign.--circle
            +e.item.text.P Lorem ipsum dolor sit amet, an utamur lobortis nam. Ad fugit veritus albucius vim, harum tation has ut. Ex eum dolor habemus qualisque, 
          +e.item-wrapper 
            +e.sign.--circle
            +e.item.text.P Per modo accumsan iudicabit no, et velit patrioque evertitur pro, nec propriae indoctum ei. An ius ludus partem interesset, vel deserunt explicari 
          +e.item-wrapper 
            +e.sign.--circle
            +e.item.text.P Prima nullam id pri, no ius sint veri scripserit, id has nominati quaerendum. Primis scribentur consequuntur ne mel, pro amet pertinax platonem ea. 
      
      +b.sm-title.H3 Lorem ipsum dolor sit amet, id fugit omnesque
      
      +b.text-wrapper 
        +e.text.text.P Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum nonumy mel id. Modus conceptam at mea. Per tamquam debitis voluptatum at. Explicari voluptaria moderatius ea est, natum doming cum eu.

      +b.text-wrapper 
        +e.text.text.P Per ea eripuit repudiare scribentur, facer intellegam delicatissimi qui ei. Sale tation vidisse eam id, nibh dolor petentium quo ne. Mazim postulant iudicabit ius in, cu ius velit euripidis, et has inani deserunt instructior. 