<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../../../static/css/style.css">
  </head>
  <body>
    <div id="app">
                        <div class="header-wrapper">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <header class="header">
                                                                                          <div class="header__left-part">
                                                                                                              <div class="menu-icon" id="js-trigger"><span class="menu-icon__line menu-icon__line--top"></span><span class="menu-icon__line menu-icon__line--middle"></span><span class="menu-icon__line menu-icon__line--bottom"></span>
                                                                                                              </div><a class="logo" href="#">shop shop</a>
                                                                                          </div>
                                                                                    <nav class="menu" id="js-menu">
                                                                                                              <div class="menu__dropwown-warpper">
                                                                                                                                  <div class="dropdown">
                                                                                                                                                            <div class="dropdown__left"><span class="dropdown__item dropdown__item--show">EN</span><span class="dropdown__item">RU</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__middle"> <span class="dropdown__line">|</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__right"> 
                                                                                                                                                                                      <div class="dropdown__trigger-wrapper"> <img class="dropdown__trigger-image img" src="../../../static/img/common/dropdown-arrow.svg"/>
                                                                                                                                                                                      </div>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                                                  <div class="dropdown">
                                                                                                                                                            <div class="dropdown__left"><span class="dropdown__item dropdown__item--show">UAN</span><span class="dropdown__item">USD</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__middle"> <span class="dropdown__line">|</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__right"> 
                                                                                                                                                                                      <div class="dropdown__trigger-wrapper"> <img class="dropdown__trigger-image img" src="../../../static/img/common/dropdown-arrow.svg"/>
                                                                                                                                                                                      </div>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                              </div>
                                                                                                        <div class="menu-body">
                                                                                                                                  <ul class="menu-body__list"> 
                                                                                                                                                            <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">Home</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item js-menu-link"> <a class="menu-body__link menu-body__link--active" href="#">Catalog</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">Payment and delivery</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">Contacts</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">About us</a>
                                                                                                                                                            </li>
                                                                                                                                  </ul>
                                                                                                        </div>
                                                                                    </nav>
                                                                                          <div class="header__right-part">
                                                                                                              <div class="search-wrapper"><img class="search-wrapper__search-trigger img" src="../../../static/img/header-footer/menu-search.svg"/>
                                                                                                              </div>
                                                                                                              <div class="cart"> 
                                                                                                                                        <div class="cart__counter"> <span class="cart__count">3</span>
                                                                                                                                        </div>
                                                                                                                                        <div class="cart__wrapper"> <img class="cart__image img" src="../../../static/img/header-footer/menu-cart.svg"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="header-auth"> 
                                                                                                                                        <div class="header-auth__icon-wrapper"> <img class="header-auth__icon img" src="../../../static/img/header-footer/menu-persone.svg"/>
                                                                                                                                        </div>
                                                                                                                                        <p class="header-auth__title">login
                                                                                                                                        </p>
                                                                                                              </div>
                                                                                          </div>
                                                                </header>
                                            </div>
                        </div>
                        <main class="main" role="main">
                          <div class="top-slider-wrapper"> 
                            <div class="top-slider-wrapper__bg-wrapper"><img class="top-slider-wrapper__bg" src="../../../static/img/main/main-top-bg.png"/>
                              <div class="top-slider-wrapper__green-mask">
                              </div>
                            </div>
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="slider-wrapper"> 
                                <div class="main-top-slider"> 
                                  <div class="main-top-slide"> 
                                    <div class="main-top-slide__image-part"> <a class="main-top-slide__image-wrapper" href="#"><img class="main-top-slide__image img" src="../../../static/img/main/top-slider/top-slider-1.png"/></a>
                                    </div>
                                  </div>
                                  <div class="main-top-slide">   
                                    <div class="main-top-slide__text-part">
                                      <div class="main-top-slide__text-wrapper"> <a class="main-top-slide__title" href="#">Mobility Speed Stripe</a>
                                        <p class="main-top-slide__subtitle">MEN'S STANDARD FIT GOLF POLO
                                        </p>
                                        <div class="main-top-slide__price"> <span class="main-top-slide__new-price">$75</span><span class="main-top-slide__old-price">$100 </span>
                                        </div><a class="main-top-slide__button" href="#">Go to product</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="main-top-slide"> 
                                    <div class="main-top-slide__image-part"> <a class="main-top-slide__image-wrapper" href="#"><img class="main-top-slide__image img" src="../../../static/img/main/top-slider/top-slider-1.png"/></a>
                                    </div>
                                  </div>
                                  <div class="main-top-slide">   
                                    <div class="main-top-slide__text-part">
                                      <div class="main-top-slide__text-wrapper"> <a class="main-top-slide__title" href="#">Mobility Speed Stripe</a>
                                        <p class="main-top-slide__subtitle">MEN'S STANDARD FIT GOLF POLO
                                        </p>
                                        <div class="main-top-slide__price"> <span class="main-top-slide__new-price">$75</span><span class="main-top-slide__old-price">$100 </span>
                                        </div><a class="main-top-slide__button" href="#">Go to product</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="main-top-slide"> 
                                    <div class="main-top-slide__image-part"> <a class="main-top-slide__image-wrapper" href="#"><img class="main-top-slide__image img" src="../../../static/img/main/top-slider/top-slider-1.png"/></a>
                                    </div>
                                  </div>
                                  <div class="main-top-slide">   
                                    <div class="main-top-slide__text-part">
                                      <div class="main-top-slide__text-wrapper"> <a class="main-top-slide__title" href="#">Mobility Speed Stripe</a>
                                        <p class="main-top-slide__subtitle">MEN'S STANDARD FIT GOLF POLO
                                        </p>
                                        <div class="main-top-slide__price"> <span class="main-top-slide__new-price">$75</span><span class="main-top-slide__old-price">$100 </span>
                                        </div><a class="main-top-slide__button" href="#">Go to product</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="top-slider-controls"> 
                                </div>
                              </div>
                            </div>
                          </div>
                          <section class="clothes-tabs-wrapper"> 
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="clothes-tabs">
                                <div class="clothes-tabs__tabs-wrapper"> 
                                  <div class="tabs-list"> 
                                    <div class="category-row"> <a class="category-row__category" href="#">men</a><a class="category-row__category" href="#">women</a><a class="category-row__category is-active" href="#">kids </a>
                                    </div>
                                    <div class="clothes-row"> 
                                      <div class="clothes-row__column"> <a class="clothes-row__category" href="#">Jackets</a><a class="clothes-row__category" href="#">Shirts</a>
                                      </div>
                                      <div class="clothes-row__column"> <a class="clothes-row__category" href="#">Pants</a><a class="clothes-row__category" href="#">Shorts</a>
                                      </div>
                                      <div class="clothes-row__column"> <a class="clothes-row__category" href="#">Footwear</a><a class="clothes-row__category" href="#">Accessories</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="clothes-tabs__image-part"> 
                                    <div class="clothes-tabs__image-wrapper"> <img class="clothes-tabs__image img" src="../../../static/img/main/whom/main-boy.png"/>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </main>
    </div>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>