<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css">
  </head>
  <body>
    <div id="app">
                        <header class="header-wrapper header-wrapper--alt">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="header">
                                                                                          <div class="header__left-part">
                                                                                                              <div class="menu-icon" id="js-trigger"><span class="menu-icon__line menu-icon__line--top"></span><span class="menu-icon__line menu-icon__line--middle"></span><span class="menu-icon__line menu-icon__line--bottom"></span>
                                                                                                              </div><a class="logo logo--header js-menu-link" href="../../../templates/index.html">shop shop</a>
                                                                                          </div>
                                                                                    <nav class="menu" id="js-menu">
                                                                                                              <div class="menu__dropwown-warpper">
                                                                                                                                  <div class="dropdown">
                                                                                                                                                            <div class="dropdown__left"><span class="dropdown__item dropdown__item--show">EN</span><span class="dropdown__item">RU</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__middle"> <span class="dropdown__line">|</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__right"> 
                                                                                                                                                                                      <div class="dropdown__trigger-wrapper"> <img class="dropdown__trigger-image img" src="../../../static/img/common/dropdown-arrow.svg"/>
                                                                                                                                                                                      </div>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                                                  <div class="dropdown">
                                                                                                                                                            <div class="dropdown__left"><span class="dropdown__item dropdown__item--show">UAN</span><span class="dropdown__item">USD</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__middle"> <span class="dropdown__line">|</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__right"> 
                                                                                                                                                                                      <div class="dropdown__trigger-wrapper"> <img class="dropdown__trigger-image img" src="../../../static/img/common/dropdown-arrow.svg"/>
                                                                                                                                                                                      </div>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                              </div>
                                                                                                        <div class="menu-body">
                                                                                                                                  <ul class="menu-body__list"> 
                                                                                                                                                            <li class="menu-body__item"> <a class="menu-body__link js-menu-link" href="../../../templates/index.html">Home</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item"> <a class="menu-body__link js-menu-link" href="#">Catalog</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item"> <a class="menu-body__link js-menu-link" href="../../../templates/pages/payment/payment.html">Payment and delivery</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item"> <a class="menu-body__link js-menu-link" href="../../../templates/pages/contacts/contacts.html">Contacts</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item"> <a class="menu-body__link js-menu-link" href="#">About us</a>
                                                                                                                                                            </li>
                                                                                                                                  </ul>
                                                                                                        </div>
                                                                                    </nav>
                                                                                          <div class="header__right-part">
                                                                                                              <div class="search-wrapper modal-trigger" data-modal="login"><img class="search-wrapper__search-trigger img" src="../../../static/img/header-footer/menu-search.svg"/>
                                                                                                              </div>
                                                                                                              <div class="cart">
                                                                                                                                        <div class="cart__counter"> <span class="cart__count">3</span>
                                                                                                                                        </div>
                                                                                                                                        <div class="cart__wrapper"> <img class="cart__image img" src="../../../static/img/header-footer/menu-cart.svg"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="header-auth"> 
                                                                                                                                        <div class="header-auth__icon-wrapper"> <img class="header-auth__icon img" src="../../../static/img/header-footer/menu-persone.svg"/>
                                                                                                                                        </div><a class="header-auth__title js-menu-link" href="../../../templates/pages/cabinet/cabinet.html">login</a>
                                                                                                              </div>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </header>
                              <div class="top-line">
                                                        <p class="top-line__text">shop shop
                                                        </p>
                              </div>
                        <main class="main" role="main">
                          <section class="contacts-wrapper"> 
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="breadcrumb">
                                <ul class="breadcrumb__list">
                                  <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Home</a>
                                  </li>
                                  <li class="breadcrumb__item"><span class="breadcrumb__link">Contact</span>
                                  </li>
                                </ul>
                              </div>
                              <div class="contact">
                                <h2 class="contact__title">CONTACT
                                </h2>
                                <div class="contact__form-wrapper"> 
                                  <form class="contact-form"> 
                                    <div class="contact-form__input-wrapper"><span class="contact-form__required-text required-text">your message <span class="contact-form__star">*</span></span><textarea class="contact-form__textarea textarea" placeholder="INPUT YOUR MESSAGE HERE"></textarea>
                                    </div>
                                    <div class="contact-form__input-wrapper"><span class="contact-form__required-text required-text">your email <span class="contact-form__star">*</span></span><input class="contact-form__input input" type="email" placeholder="INPUT YOUR EMAIL"/>
                                    </div>
                                    <div class="contact-form__submit-wrapper">
                                      <div class="contact-form__left">
                                        <div class="contact-form__input-wrapper"><span class="contact-form__required-text required-text">your name <span class="contact-form__star">*</span></span><input class="contact-form__input input" type="text" placeholder="YOUR NAME"/>
                                        </div>
                                      </div>
                                      <div class="contact-form__right"> 
                                        <button class="contact-form__submit btn" type="submit">send
                                        </button>
                                      </div>
                                    </div>
                                  </form>
                                  <div class="contact-info">
                                    <div class="contact-info__info"><a class="contact-info__tel" href="tel:+380501579581 ">+ 38 050 157-95-81 </a>
                                      <p class="contact-info__adress">PRAVDA 80A, BERDYANSK
                                      </p><a class="contact-info__mail" href="mailto:info@gmail.com">info@gmail.com</a>
                                    </div>
                                    <div class="social"><a class="social__wrapper" href="#"><img class="social__icon" src="../../../static/img/contacts/social/social-1.svg"/><span class="social__name">vkontakte</span></a><a class="social__wrapper" href="#"><img class="social__icon" src="../../../static/img/contacts/social/social-2.svg"/><span class="social__name">facebook</span></a><a class="social__wrapper" href="#"><img class="social__icon" src="../../../static/img/contacts/social/social-3.svg"/><span class="social__name">twitter</span></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="contact-map"> 
                              <div class="contact-map__map" id="contact-map">
                              </div>
                            </div>
                          </section>
                        </main>
                        <footer class="footer-wrapper">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="footer"> 
                                                                                          <div class="footer__top-row">
                                                                                                                    <div class="footer__top"><a class="logo logo--footer" href="../../../templates/index.html">shop shop</a>
                                                                                                                    </div>
                                                                                                                    <div class="footer__info"> <a class="tel-wrapper" href="tel:+380501579581"><span class="tel-wrapper__image-wrapper"><img class="tel-wrapper__image" src="../../../static/img/header-footer/footer-phone.png"/></span><span class="tel-wrapper__tel">+ 38 050 157-95-81 </span></a><a class="footer__mail" href="mailto:info@gmail.com">info@gmail.com</a>
                                                                                                                    </div>
                                                                                          </div>
                                                                                          <div class="footer__bottom-row">
                                                                                                                    <p class="footer__development">Developed by WebCase
                                                                                                                    </p>
                                                                                                              <div class="menu-body">
                                                                                                                                        <ul class="menu-body__list"> 
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="../../../templates/index.html">Home</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link menu-body__link--active" href="#">Catalog</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="../../../templates/pages/payment/payment.html">Payment and delivery</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="../../../templates/pages/contacts/contacts.html">Contacts</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">About us</a>
                                                                                                                                                                  </li>
                                                                                                                                        </ul>
                                                                                                              </div><a class="footer__search-wrapper" href="#"><img class="footer__search" src="../../../static/img/header-footer/menu-search.svg"/></a>
                                                                                          </div>
                                                                                          <div class="footer__abs-wrapper"> <img class="footer__abs-image img" src="../../../static/img/abs/abs-lines.png"/>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </footer>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq4JCX3T23IUj32KRtJsrC5xzN0YDy7zM&amp;callback=initMap"></script>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>