include ../../../mixins/breadcrumbs
include ../../../mixins/index

+b.payment-wrapper.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +breadcrumb(['Home', 'Payment and delivery'])
    +b.payment
      +e.title.title.H1 Payment and delivery
      +e.wrapper 
        +e.left-side 
          +b.payment-card 
            +e.image-wrapper 
              +e.image.IMG(src='../../../static/img/payment/payment1.png')
            +e.text-wrapper 
              +e.text.text.P Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum
          +b.payment-card 
            +e.image-wrapper 
              +e.image.IMG(src='../../../static/img/payment/payment2.png')
            +e.text-wrapper 
              +e.text.text.P Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum
          +b.payment-card 
            +e.image-wrapper 
              +e.image.IMG(src='../../../static/img/payment/payment3.png')
            +e.text-wrapper 
              +e.text.text.P Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum 
        +e.right-side
          +e.paragraph-wrapper
            +e.paragraph.text.P Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum nonumy mel id. Modus conceptam at mea. Per tamquam debitis voluptatum at. Explicari voluptaria moderatius ea est, natum doming cum eu.
            +e.paragraph.text.P Per ea eripuit repudiare scribentur, facer intellegam delicatissimi qui ei. Sale tation vidisse eam id, nibh dolor petentium quo ne. Mazim postulant iudicabit ius in, cu ius velit euripidis, et has inani deserunt instructior. 
            +e.paragraph.text.P Euripidis deseruisse usu id. Ei augue corpora electram pro, rebum putant ex mea, nam eu justo aperiri pertinax. Regione dolorum sit ne, nonumes petentium ei est, sed aeterno volumus ad. Doming omittam te qui, mutat possim deterruisset pri in. Inermis docendi id pri.
            +e.paragraph.text.P At tantas verear volumus nam, nec accumsan pertinax no, ut pro illud feugiat deseruisse. At pri oblique sanctus percipit, everti nonumes definitionem in vel, ad alterum dolorum inimicus sea. Usu quas assum eligendi ei, assum facilisi posidonium ei vim. Iisque tacimates no nam, duis oblique diceret ut per.
