
<section class="text-page-wrapper"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="breadcrumb">
      <ul class="breadcrumb__list">
        <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Home</a>
        </li>
        <li class="breadcrumb__item"><span class="breadcrumb__link">Text page</span>
        </li>
      </ul>
    </div>
    <div class="text-page"> 
      <h1 class="text-page__title title">text page
      </h1>
      <p class="text-page__description">Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum nonumy mel id. Modus conceptam at mea. Per tamquam debitis voluptatum at. Explicari voluptaria moderatius ea est, natum doming cum eu.
      </p>
      <div class="text-wrapper"> 
        <p class="text-wrapper__text text">Per ea eripuit repudiare scribentur, facer intellegam delicatissimi qui ei. Sale tation vidisse eam id, nibh dolor petentium quo ne. Mazim postulant iudicabit ius in, cu ius velit euripidis, et has inani deserunt instructior. 
        </p>
      </div>
      <div class="br"> 
      </div>
      <table class="text-table"> 
        <thead class="text-table__thead">
          <tr class="text-table__tr">
            <th class="text-table__th">number
            </th>
            <th class="text-table__th">DATE
            </th>
            <th class="text-table__th text-table__th--large">
            </th>
            <th class="text-table__th">Value
            </th>
            <th class="text-table__th">Payment status
            </th>
            <th class="text-table__th">status
            </th>
          </tr>
        </thead>
        <tbody class="text-table__tbody"> 
          <tr class="text-table__tr text-table__tr--grey"> 
            <th class="text-table__td"># 566765
            </th>
            <th class="text-table__td">26.06.2017
            </th>
            <th class="text-table__td text-table__td--large">
            </th>
            <th class="text-table__td">$ 150
            </th>
            <th class="text-table__td">paid
            </th>
            <th class="text-table__td">delivered
            </th>
          </tr>
          <tr class="text-table__tr"> 
            <th class="text-table__td"># 566765
            </th>
            <th class="text-table__td">26.06.2017
            </th>
            <th class="text-table__td text-table__td--large">
            </th>
            <th class="text-table__td">$ 150
            </th>
            <th class="text-table__td">paid
            </th>
            <th class="text-table__td">delivered
            </th>
          </tr>
          <tr class="text-table__tr text-table__tr--grey"> 
            <th class="text-table__td"># 566765
            </th>
            <th class="text-table__td">26.06.2017
            </th>
            <th class="text-table__td text-table__td--large">
            </th>
            <th class="text-table__td">$ 150
            </th>
            <th class="text-table__td">paid
            </th>
            <th class="text-table__td">delivered
            </th>
          </tr>
        </tbody>
      </table>
      <h2 class="text-page__subtitle">Lorem ipsum dolor sit amet, id fugit omnesque
      </h2>
      <div class="text-wrapper"> 
        <p class="text-wrapper__text text">Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum nonumy mel id. Modus conceptam at mea. Per tamquam debitis voluptatum at. Explicari voluptaria moderatius ea est, natum doming cum eu.
        </p>
      </div>
      <div class="text-wrapper"> 
        <p class="text-wrapper__text text">Per ea eripuit repudiare scribentur, facer intellegam delicatissimi qui ei. Sale tation vidisse eam id, nibh dolor petentium quo ne. Mazim postulant iudicabit ius in, cu ius velit euripidis, et has inani deserunt instructior. 
        </p>
      </div>
      <div class="blockquote-wrapper">
        <blockquote class="blockquote-wrapper__blockquote">Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum nonumy mel id. Modus conceptam at mea. Per tamquam debitis voluptatum at. Explicari voluptaria moderatius ea est, natum doming cum eu.
        </blockquote>
      </div>
      <div class="list-wrapper"> 
        <div class="list-wrapper__left-part"> 
          <div class="list-wrapper__item-wrapper"> 
            <div class="list-wrapper__sign list-wrapper__sign--number">1
            </div>
            <p class="list-wrapper__item text">Lorem ipsum dolor sit amet, an utamur lobortis nam. Ad fugit veritus albucius vim, harum tation has ut. Ex eum dolor habemus qualisque, 
            </p>
          </div>
          <div class="list-wrapper__item-wrapper"> 
            <div class="list-wrapper__sign list-wrapper__sign--number">2
            </div>
            <p class="list-wrapper__item text">Per modo accumsan iudicabit no, et velit patrioque evertitur pro, nec propriae indoctum ei. An ius ludus partem interesset, vel deserunt explicari 
            </p>
          </div>
          <div class="list-wrapper__item-wrapper"> 
            <div class="list-wrapper__sign list-wrapper__sign--number">3
            </div>
            <p class="list-wrapper__item text">Prima nullam id pri, no ius sint veri scripserit, id has nominati quaerendum. Primis scribentur consequuntur ne mel, pro amet pertinax platonem ea. 
            </p>
          </div>
        </div>
        <div class="list-wrapper__right-part">
          <div class="list-wrapper__item-wrapper"> 
            <div class="list-wrapper__sign list-wrapper__sign--circle">
            </div>
            <p class="list-wrapper__item text">Lorem ipsum dolor sit amet, an utamur lobortis nam. Ad fugit veritus albucius vim, harum tation has ut. Ex eum dolor habemus qualisque, 
            </p>
          </div>
          <div class="list-wrapper__item-wrapper"> 
            <div class="list-wrapper__sign list-wrapper__sign--circle">
            </div>
            <p class="list-wrapper__item text">Per modo accumsan iudicabit no, et velit patrioque evertitur pro, nec propriae indoctum ei. An ius ludus partem interesset, vel deserunt explicari 
            </p>
          </div>
          <div class="list-wrapper__item-wrapper"> 
            <div class="list-wrapper__sign list-wrapper__sign--circle">
            </div>
            <p class="list-wrapper__item text">Prima nullam id pri, no ius sint veri scripserit, id has nominati quaerendum. Primis scribentur consequuntur ne mel, pro amet pertinax platonem ea. 
            </p>
          </div>
        </div>
      </div>
      <h3 class="sm-title">Lorem ipsum dolor sit amet, id fugit omnesque
      </h3>
      <div class="text-wrapper"> 
        <p class="text-wrapper__text text">Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum nonumy mel id. Modus conceptam at mea. Per tamquam debitis voluptatum at. Explicari voluptaria moderatius ea est, natum doming cum eu.
        </p>
      </div>
      <div class="text-wrapper"> 
        <p class="text-wrapper__text text">Per ea eripuit repudiare scribentur, facer intellegam delicatissimi qui ei. Sale tation vidisse eam id, nibh dolor petentium quo ne. Mazim postulant iudicabit ius in, cu ius velit euripidis, et has inani deserunt instructior. 
        </p>
      </div>
    </div>
  </div>
</section>