
<footer class="footer-wrapper">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="footer"> 
      <div class="footer__top-row">
        <div class="footer__top"><a class="logo logo--footer" href="../../../templates/index.html">shop shop</a>
        </div>
        <div class="footer__info"> <a class="tel-wrapper" href="tel:+380501579581"><span class="tel-wrapper__image-wrapper"><img class="tel-wrapper__image" src="../../../static/img/header-footer/footer-phone.png"/></span><span class="tel-wrapper__tel">+ 38 050 157-95-81 </span></a><a class="footer__mail" href="mailto:info@gmail.com">info@gmail.com</a>
        </div>
      </div>
      <div class="footer__bottom-row">
        <p class="footer__development">Developed by WebCase
        </p>
        <div class="menu-body">
          <ul class="menu-body__list"> 
            <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="../../../templates/index.html">Home</a>
            </li>
            <li class="menu-body__item js-menu-link"> <a class="menu-body__link menu-body__link--active" href="#">Catalog</a>
            </li>
            <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="../../../templates/pages/payment/payment.html">Payment and delivery</a>
            </li>
            <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="../../../templates/pages/contacts/contacts.html">Contacts</a>
            </li>
            <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">About us</a>
            </li>
          </ul>
        </div><a class="footer__search-wrapper" href="#"><img class="footer__search" src="../../../static/img/header-footer/menu-search.svg"/></a>
      </div>
      <div class="footer__abs-wrapper"> <img class="footer__abs-image img" src="../../../static/img/abs/abs-lines.png"/>
      </div>
    </div>
  </div>
</footer>