<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../../../static/css/style.css">
  </head>
  <body>
    <div id="app">
                        <header class="header-wrapper">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="header">
                                                                                          <div class="header__left-part">
                                                                                                              <div class="menu-icon" id="js-trigger"><span class="menu-icon__line menu-icon__line--top"></span><span class="menu-icon__line menu-icon__line--middle"></span><span class="menu-icon__line menu-icon__line--bottom"></span>
                                                                                                              </div><a class="logo logo--header" href="#">shop shop</a>
                                                                                          </div>
                                                                                    <nav class="menu" id="js-menu">
                                                                                                              <div class="menu__dropwown-warpper">
                                                                                                                                  <div class="dropdown">
                                                                                                                                                            <div class="dropdown__left"><span class="dropdown__item dropdown__item--show">EN</span><span class="dropdown__item">RU</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__middle"> <span class="dropdown__line">|</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__right"> 
                                                                                                                                                                                      <div class="dropdown__trigger-wrapper"> <img class="dropdown__trigger-image img" src="../../../static/img/common/dropdown-arrow.svg"/>
                                                                                                                                                                                      </div>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                                                  <div class="dropdown">
                                                                                                                                                            <div class="dropdown__left"><span class="dropdown__item dropdown__item--show">UAN</span><span class="dropdown__item">USD</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__middle"> <span class="dropdown__line">|</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__right"> 
                                                                                                                                                                                      <div class="dropdown__trigger-wrapper"> <img class="dropdown__trigger-image img" src="../../../static/img/common/dropdown-arrow.svg"/>
                                                                                                                                                                                      </div>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                              </div>
                                                                                                        <div class="menu-body">
                                                                                                                                  <ul class="menu-body__list"> 
                                                                                                                                                            <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">Home</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item js-menu-link"> <a class="menu-body__link menu-body__link--active" href="#">Catalog</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">Payment and delivery</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">Contacts</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">About us</a>
                                                                                                                                                            </li>
                                                                                                                                  </ul>
                                                                                                        </div>
                                                                                    </nav>
                                                                                          <div class="header__right-part">
                                                                                                              <div class="search-wrapper"><img class="search-wrapper__search-trigger img" src="../../../static/img/header-footer/menu-search.svg"/>
                                                                                                              </div>
                                                                                                              <div class="cart"> 
                                                                                                                                        <div class="cart__counter"> <span class="cart__count">3</span>
                                                                                                                                        </div>
                                                                                                                                        <div class="cart__wrapper"> <img class="cart__image img" src="../../../static/img/header-footer/menu-cart.svg"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="header-auth"> 
                                                                                                                                        <div class="header-auth__icon-wrapper"> <img class="header-auth__icon img" src="../../../static/img/header-footer/menu-persone.svg"/>
                                                                                                                                        </div>
                                                                                                                                        <p class="header-auth__title">login
                                                                                                                                        </p>
                                                                                                              </div>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </header>
                        <main class="main" role="main">
                          <div class="top-slider-wrapper"> 
                            <div class="top-slider-wrapper__bg-wrapper"><img class="top-slider-wrapper__bg" src="../../../static/img/main/main-top-bg.png"/>
                              <div class="top-slider-wrapper__green-mask">
                              </div>
                            </div>
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="slider-wrapper"> 
                                <div class="main-top-slider"> 
                                  <div class="main-top-slide"> 
                                    <div class="main-top-slide__image-part"> <a class="main-top-slide__image-wrapper" href="#"><img class="main-top-slide__image img" src="../../../static/img/main/top-slider/top-slider-1.png"/></a>
                                    </div>
                                    <div class="main-top-slide__text-part">
                                      <div class="main-top-slide__text-wrapper"> <a class="main-top-slide__title" href="#">Mobility Speed Stripe1</a>
                                        <p class="main-top-slide__subtitle">MEN'S STANDARD FIT GOLF POLO
                                        </p>
                                        <div class="main-top-slide__price"> <span class="main-top-slide__new-price">$75</span><span class="main-top-slide__old-price">$100</span>
                                        </div><a class="main-top-slide__button" href="#">Go to product</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="main-top-slide"> 
                                    <div class="main-top-slide__image-part"> <a class="main-top-slide__image-wrapper" href="#"><img class="main-top-slide__image img" src="../../../static/img/main/top-slider/top-slider-1.png"/></a>
                                    </div>
                                    <div class="main-top-slide__text-part">
                                      <div class="main-top-slide__text-wrapper"> <a class="main-top-slide__title" href="#">Mobility Speed Stripe2</a>
                                        <p class="main-top-slide__subtitle">MEN'S STANDARD FIT GOLF POLO
                                        </p>
                                        <div class="main-top-slide__price"> <span class="main-top-slide__new-price">$75</span><span class="main-top-slide__old-price">$100</span>
                                        </div><a class="main-top-slide__button" href="#">Go to product</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="main-top-slide"> 
                                    <div class="main-top-slide__image-part"> <a class="main-top-slide__image-wrapper" href="#"><img class="main-top-slide__image img" src="../../../static/img/main/top-slider/top-slider-1.png"/></a>
                                    </div>
                                    <div class="main-top-slide__text-part">
                                      <div class="main-top-slide__text-wrapper"> <a class="main-top-slide__title" href="#">Mobility Speed Stripe3</a>
                                        <p class="main-top-slide__subtitle">MEN'S STANDARD FIT GOLF POLO
                                        </p>
                                        <div class="main-top-slide__price"> <span class="main-top-slide__new-price">$75</span><span class="main-top-slide__old-price">$100</span>
                                        </div><a class="main-top-slide__button" href="#">Go to product</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="main-top-slide"> 
                                    <div class="main-top-slide__image-part"> <a class="main-top-slide__image-wrapper" href="#"><img class="main-top-slide__image img" src="../../../static/img/main/top-slider/top-slider-1.png"/></a>
                                    </div>
                                    <div class="main-top-slide__text-part">
                                      <div class="main-top-slide__text-wrapper"> <a class="main-top-slide__title" href="#">Mobility Speed Stripe4</a>
                                        <p class="main-top-slide__subtitle">MEN'S STANDARD FIT GOLF POLO
                                        </p>
                                        <div class="main-top-slide__price"> <span class="main-top-slide__new-price">$75</span><span class="main-top-slide__old-price">$100</span>
                                        </div><a class="main-top-slide__button" href="#">Go to product</a>
                                      </div>
                                    </div>
                                  </div>
                                </div><a class="abs-circle" href="#sales"><span class="abs-circle__image-wrapper"><img class="abs-circle__image" src="../../../static/img/abs/arrow.svg"/></span></a>
                              </div>
                            </div>
                          </div>
                          <section class="clothes-tabs-wrapper"> 
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="clothes-tabs">
                                <div class="clothes-tabs__tabs-wrapper"> 
                                  <div class="tabs-list"> 
                                    <div class="category-row"> <span class="category-row__category js-category" data-image="../../../static/img/main/whom/man.png">men</span><span class="category-row__category js-category" data-image="../../../static/img/main/whom/women.png">women</span><span class="category-row__category js-category is-active" data-image="../../../static/img/main/whom/boy.png">kids </span>
                                    </div>
                                    <div class="clothes-row"> 
                                      <div class="clothes-row__column"> <a class="clothes-row__category" href="#">Jackets</a><a class="clothes-row__category" href="#">Shirts</a>
                                      </div>
                                      <div class="clothes-row__column"> <a class="clothes-row__category" href="#">Pants</a><a class="clothes-row__category" href="#">Shorts</a>
                                      </div>
                                      <div class="clothes-row__column"> <a class="clothes-row__category" href="#">Footwear</a><a class="clothes-row__category" href="#">Accessories</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="clothes-tabs__image-part"> 
                                    <div class="clothes-tabs__image-wrapper"> <img class="clothes-tabs__image js-image img" src="../../../static/img/main/whom/boy.png"/>
                                    </div>
                                  </div>
                                </div>
                                <div class="clothes-tabs__abs-image"> <img class="clothes-tabs__image img" src="../../../static/img/abs/abs-lines.png"/>
                                </div>
                                <div class="clothes-tabs__abs-image-rev"> <img class="clothes-tabs__img-rev img" src="../../../static/img/abs/lines-rev.png"/>
                                </div>
                                <div class="clothes-tabs__abs-circles"><img class="clothes-tabs__circles-image img" src="../../../static/img/abs/abs-ellips.png"/>
                                </div>
                                <div class="clothes-tabs__abs-elios"> <img class="clothes-tabs__elios-image img" src="../../../static/img/abs/abs-main-elios.png"/>
                                </div>
                              </div>
                            </div>
                          </section>
                          <section class="sales-wrapper">
                            <div class="sales-wrapper__bg-wrapper"><img class="sales-wrapper__image-bg" src="../../../static/img/main/main-bottom-bg.png"/>
                            </div>
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="sales-leaders" id="sales">
                                <h2 class="sales-leaders__title"><span class="sales-leaders__span">Sales leaders</span> this week
                                </h2>
                                <div class="sales-leaders__row"> 
                                  <div class="sales-leaders__column sales-leaders__column--lg"><a class="sales-leaders__image-wrapper sales-leaders__image-wrapper--lg" href="#"><img class="sales-leaders__image img" src="../../../static/img/main/saled/saled-main-1.png"/></a>
                                    <div class="image-desc"> <a class="image-desc__name" href="#">Nike Air Max 2017</a>
                                      <div class="image-desc__price-wrapper"> <span class="image-desc__old-price">$220</span><span class="image-desc__new-price">$190</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="sales-leaders__column sales-leaders__column--sm">
                                    <div class="sales-leaders__grid"><a class="sales-leaders__image-wrapper sales-leaders__image-wrapper--sm" href="#"><img class="sales-leaders__image img" src="../../../static/img/main/saled/saled-main-2.png"/></a>
                                      <div class="image-desc"> <a class="image-desc__name" href="#">NIKE IMPOSSIBLY LIGHT</a>
                                        <div class="image-desc__price-wrapper"> <span class="image-desc__old-price">$100</span><span class="image-desc__new-price">$80</span>
                                        </div>
                                      </div><a class="sales-leaders__image-wrapper sales-leaders__image-wrapper--sm" href="#"><img class="sales-leaders__image img" src="../../../static/img/main/saled/saled-main-3.png"/></a>
                                      <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                                        <div class="image-desc__price-wrapper"> <span class="image-desc__old-price">$60</span><span class="image-desc__new-price">$39</span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                          <div class="main-grey-wrapper">
                            <div class="white-line-wrapper">
                              <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                <div class="white-line"> 
                                  <div class="white-line__abs-image-wrapper"> <img class="white-line__abs-image img" src="../../../static/img/abs/abs-lines.png"/>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="grey-bg">
                              <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                <div class="main-grey">
                                  <div class="main-grey__product-slider-wrapper">
                                    <div class="main-product-slider">
                                      <div class="main-product-slide">
                                        <div class="main-product-slide__image-wrapper"> <img class="main-product-slide__image img" src="../../../static/img/main/bottom-slider/main-slider-1.png"/>
                                          <div class="main-product-slide__hover"> <a class="main-product-slide__hover-btn" href="#">go to product</a>
                                          </div>
                                        </div>
                                        <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                                          <div class="image-desc__price-wrapper"> <span class="image-desc__new-price">$39</span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="main-product-slide">
                                        <div class="main-product-slide__image-wrapper"> <img class="main-product-slide__image img" src="../../../static/img/main/bottom-slider/main-slider-2.png"/>
                                          <div class="main-product-slide__hover"> <a class="main-product-slide__hover-btn" href="#">go to product</a>
                                          </div>
                                        </div>
                                        <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                                          <div class="image-desc__price-wrapper"> <span class="image-desc__new-price">$39</span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="main-product-slide">
                                        <div class="main-product-slide__image-wrapper"> <img class="main-product-slide__image img" src="../../../static/img/main/bottom-slider/main-slider-3.png"/>
                                          <div class="main-product-slide__hover"> <a class="main-product-slide__hover-btn" href="#">go to product</a>
                                          </div>
                                        </div>
                                        <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                                          <div class="image-desc__price-wrapper"> <span class="image-desc__new-price">$39</span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="main-product-slide">
                                        <div class="main-product-slide__image-wrapper"> <img class="main-product-slide__image img" src="../../../static/img/main/bottom-slider/main-slider-1.png"/>
                                          <div class="main-product-slide__hover"> <a class="main-product-slide__hover-btn" href="#">go to product</a>
                                          </div>
                                        </div>
                                        <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                                          <div class="image-desc__price-wrapper"> <span class="image-desc__new-price">$39</span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="main-product-slide">
                                        <div class="main-product-slide__image-wrapper"> <img class="main-product-slide__image img" src="../../../static/img/main/bottom-slider/main-slider-2.png"/>
                                          <div class="main-product-slide__hover"> <a class="main-product-slide__hover-btn" href="#">go to product</a>
                                          </div>
                                        </div>
                                        <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                                          <div class="image-desc__price-wrapper"> <span class="image-desc__new-price">$39</span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="main-product-slide">
                                        <div class="main-product-slide__image-wrapper"> <img class="main-product-slide__image img" src="../../../static/img/main/bottom-slider/main-slider-3.png"/>
                                          <div class="main-product-slide__hover"> <a class="main-product-slide__hover-btn" href="#">go to product</a>
                                          </div>
                                        </div>
                                        <div class="image-desc"> <a class="image-desc__name" href="#">HURLEY DRI-FIT DIXON</a>
                                          <div class="image-desc__price-wrapper"> <span class="image-desc__new-price">$39</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="main-grey__partners-slider-wrapper">
                                    <h2 class="main-grey__title">Trust us 
                                    </h2>
                                    <div class="main-partners-slider"> 
                                      <div class="main-partners-slide"><a class="main-partners-slide__image-wrapper" href="#" target="_blank"><img class="main-partners-slide__image" src="../../../static/img/main/partners/partner-1.svg"/></a>
                                      </div>
                                      <div class="main-partners-slide"><a class="main-partners-slide__image-wrapper" href="#" target="_blank"><img class="main-partners-slide__image" src="../../../static/img/main/partners/partner-2.svg"/></a>
                                      </div>
                                      <div class="main-partners-slide"><a class="main-partners-slide__image-wrapper" href="#" target="_blank"><img class="main-partners-slide__image" src="../../../static/img/main/partners/partner-3.svg"/></a>
                                      </div>
                                      <div class="main-partners-slide"><a class="main-partners-slide__image-wrapper" href="#" target="_blank"><img class="main-partners-slide__image" src="../../../static/img/main/partners/partner-4.svg"/></a>
                                      </div>
                                      <div class="main-partners-slide"><a class="main-partners-slide__image-wrapper" href="#" target="_blank"><img class="main-partners-slide__image" src="../../../static/img/main/partners/partner-5.svg"/></a>
                                      </div>
                                      <div class="main-partners-slide"><a class="main-partners-slide__image-wrapper" href="#" target="_blank"><img class="main-partners-slide__image" src="../../../static/img/main/partners/partner-3.svg"/></a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="bottom-text"> 
                                    <div class="bottom-text__paragraph-wrapper"> 
                                      <p class="bottom-text__paragraph">Lorem ipsum dolor sit amet, id fugit omnesque vix, clita nusquam per at. Officiis comprehensam has ei, sit corpora antiopam ad. Minimum voluptaria vis ad, sale novum nonumy mel id. Modus conceptam at mea. Per tamquam debitis voluptatum at. Explicari voluptaria moderatius ea est, natum doming cum eu.
                                      </p>
                                    </div>
                                    <div class="bottom-text__paragraph-wrapper"> 
                                      <p class="bottom-text__paragraph">Per ea eripuit repudiare scribentur, facer intellegam delicatissimi qui ei. Sale tation vidisse eam id, nibh dolor petentium quo ne. Mazim postulant iudicabit ius in, cu ius velit euripidis, et has inani deserunt instructior. Malis epicuri an mea, at mundi adipisci neglegentur duo. Duis exerci neglegentur te mel, no choro rationibus vel. Inermis definitionem nec ex, has meis vitae persecuti cu.
                                      </p>
                                    </div>
                                    <div class="bottom-text__paragraph-wrapper"> 
                                      <p class="bottom-text__paragraph">Euripidis deseruisse usu id. Ei augue corpora electram pro, rebum putant ex mea, nam eu justo aperiri pertinax. Regione dolorum sit ne, nonumes petentium ei est, sed aeterno volumus ad. Doming omittam te qui, mutat possim deterruisset pri in. Inermis docendi id pri.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </main>
                        <footer class="footer-wrapper">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="footer"> 
                                                                                          <div class="footer__top-row">
                                                                                                                    <div class="footer__top"><a class="logo logo--footer" href="#">shop shop</a>
                                                                                                                    </div>
                                                                                                                    <div class="footer__info"> <a class="tel-wrapper" href="tel:+380501579581"><span class="tel-wrapper__image-wrapper"><img class="tel-wrapper__image" src="./../../static/img/header-footer/footer-phone.png"/></span><span class="tel-wrapper__tel">+ 38 050 157-95-81 </span></a><a class="footer__mail" href="mailto:info@gmail.com">info@gmail.com</a>
                                                                                                                    </div>
                                                                                          </div>
                                                                                          <div class="footer__bottom-row">
                                                                                                                    <p class="footer__development">Developed by WebCase
                                                                                                                    </p>
                                                                                                              <div class="menu-body">
                                                                                                                                        <ul class="menu-body__list"> 
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">Home</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link menu-body__link--active" href="#">Catalog</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">Payment and delivery</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">Contacts</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">About us</a>
                                                                                                                                                                  </li>
                                                                                                                                        </ul>
                                                                                                              </div><a class="footer__search-wrapper" href="#"><img class="footer__search" src="../../../static/img/header-footer/menu-search.svg"/></a>
                                                                                          </div>
                                                                                          <div class="footer__abs-wrapper"> <img class="footer__abs-image img" src="../../../static/img/abs/abs-lines.png"/>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </footer>
    </div>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>