include ./../../../node_modules/bemtopuginvue/bemto.pug

mixin productSlider(slide)
  +b.main-product-slide
    +e.image-wrapper 
      +e.image.img.IMG(src='../static/img/main/bottom-slider/' + slide.image)
      +e.hover 
        +e.hover-btn.A(href='#') go to product
    +b.image-desc 
      +e.name.A(href='#')= slide.name
      +e.price-wrapper 
        +e.new-price.SPAN= slide.price