<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css">
  </head>
  <body>
    <div id="app">
                        <header class="header-wrapper header-wrapper--alt">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="header">
                                                                                          <div class="header__left-part">
                                                                                                              <div class="menu-icon" id="js-trigger"><span class="menu-icon__line menu-icon__line--top"></span><span class="menu-icon__line menu-icon__line--middle"></span><span class="menu-icon__line menu-icon__line--bottom"></span>
                                                                                                              </div><a class="logo logo--header js-menu-link" href="../../../templates/index.html">shop shop</a>
                                                                                          </div>
                                                                                    <nav class="menu" id="js-menu">
                                                                                                              <div class="menu__dropwown-warpper">
                                                                                                                                  <div class="dropdown">
                                                                                                                                                            <div class="dropdown__left"><span class="dropdown__item dropdown__item--show">EN</span><span class="dropdown__item">RU</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__middle"> <span class="dropdown__line">|</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__right"> 
                                                                                                                                                                                      <div class="dropdown__trigger-wrapper"> <img class="dropdown__trigger-image img" src="../../../static/img/common/dropdown-arrow.svg"/>
                                                                                                                                                                                      </div>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                                                  <div class="dropdown">
                                                                                                                                                            <div class="dropdown__left"><span class="dropdown__item dropdown__item--show">UAN</span><span class="dropdown__item">USD</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__middle"> <span class="dropdown__line">|</span>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="dropdown__right"> 
                                                                                                                                                                                      <div class="dropdown__trigger-wrapper"> <img class="dropdown__trigger-image img" src="../../../static/img/common/dropdown-arrow.svg"/>
                                                                                                                                                                                      </div>
                                                                                                                                                            </div>
                                                                                                                                  </div>
                                                                                                              </div>
                                                                                                        <div class="menu-body">
                                                                                                                                  <ul class="menu-body__list"> 
                                                                                                                                                            <li class="menu-body__item"> <a class="menu-body__link js-menu-link" href="../../../templates/index.html">Home</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item"> <a class="menu-body__link js-menu-link" href="#">Catalog</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item"> <a class="menu-body__link js-menu-link" href="../../../templates/pages/payment/payment.html">Payment and delivery</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item"> <a class="menu-body__link js-menu-link" href="../../../templates/pages/contacts/contacts.html">Contacts</a>
                                                                                                                                                            </li>
                                                                                                                                                            <li class="menu-body__item"> <a class="menu-body__link js-menu-link" href="#">About us</a>
                                                                                                                                                            </li>
                                                                                                                                  </ul>
                                                                                                        </div>
                                                                                    </nav>
                                                                                          <div class="header__right-part">
                                                                                                              <div class="search-wrapper modal-trigger" data-modal="login"><img class="search-wrapper__search-trigger img" src="../../../static/img/header-footer/menu-search.svg"/>
                                                                                                              </div>
                                                                                                              <div class="cart">
                                                                                                                                        <div class="cart__counter"> <span class="cart__count">3</span>
                                                                                                                                        </div>
                                                                                                                                        <div class="cart__wrapper"> <img class="cart__image img" src="../../../static/img/header-footer/menu-cart.svg"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="header-auth"> 
                                                                                                                                        <div class="header-auth__icon-wrapper"> <img class="header-auth__icon img" src="../../../static/img/header-footer/menu-persone.svg"/>
                                                                                                                                        </div><a class="header-auth__title js-menu-link" href="../../../templates/pages/cabinet/cabinet.html">login</a>
                                                                                                              </div>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </header>
                              <div class="top-line">
                                                        <p class="top-line__text">shop shop
                                                        </p>
                              </div>
                        <main class="main" role="main">
                          <section class="cabinet-wrapper"> 
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="breadcrumb">
                                <ul class="breadcrumb__list">
                                  <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Home</a>
                                  </li>
                                  <li class="breadcrumb__item"><span class="breadcrumb__link">Personal Area</span>
                                  </li>
                                </ul>
                              </div>
                              <div class="cabinet"> 
                                <h1 class="cabinet__title title">Personal Area
                                </h1>
                                <div class="cabinen-tabs"> <a class="cabinen-tabs__element subtitle is-active" href="#">Personal data</a><a class="cabinen-tabs__element subtitle" href="#">History of orders</a>
                                </div>
                                <div class="cabinet-tab-content cabinet-tab-content--data">
                                  <div class="cabinet-tab-content__forms-wrapper"> 
                                    <div class="cabinet-tab-content__left-part"> 
                                      <div class="cabinet-bio-form"> 
                                        <div class="cabinet-bio-form__top"> 
                                          <div class="cabinet-bio-form__input-wrapper"> 
                                            <p class="cabinet-bio-form__required required-text">FIRST NAME
                                            </p><input class="cabinet-bio-form__input input" type="text" name="cabinet-first-name"/>
                                          </div>
                                          <div class="cabinet-bio-form__input-wrapper"> 
                                            <p class="cabinet-bio-form__required required-text">LAST NAME
                                            </p><input class="cabinet-bio-form__input input" type="text" name="cabinet-last-name"/>
                                          </div>
                                        </div>
                                        <div class="cabinet-bio-form__bottom">
                                          <div class="cabinet-bio-form__input-wrapper"> 
                                            <p class="cabinet-bio-form__required required-text">PHONE
                                            </p><input class="cabinet-bio-form__input input" type="tel" name="cabinet-phone"/>
                                          </div>
                                          <div class="cabinet-bio-form__submit-wrapper"> 
                                            <button class="cabinet-bio-form__submit btn" type="submit">save
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="change-email-form">
                                        <div class="change-email-form__email-wrapper"><span class="change-email-form__email">stass3939@gmail.com</span>
                                        </div>
                                        <div class="change-email-form__modal-trigger-wrapper"><a class="change-email-form__modal-trigger btn" fref="#">Change email</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="cabinet-tab-content__right-part">
                                      <form class="password-form">
                                        <div class="password-form__input-wrapper"> 
                                          <p class="password-form__required required-text">PASSWORD
                                          </p><input class="password-form__input input" type="password" name="cabinet-pass"/>
                                        </div>
                                        <div class="password-form__input-wrapper"> 
                                          <p class="password-form__required required-text">repeat password
                                          </p><input class="password-form__input input" type="password" name="cabinet-rep-pass"/>
                                        </div>
                                        <div class="password-form__submit-wrapper"> 
                                          <button class="password-form__submit btn" type="submit">save
                                          </button>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </main>
                        <footer class="footer-wrapper">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="footer"> 
                                                                                          <div class="footer__top-row">
                                                                                                                    <div class="footer__top"><a class="logo logo--footer" href="../../../templates/index.html">shop shop</a>
                                                                                                                    </div>
                                                                                                                    <div class="footer__info"> <a class="tel-wrapper" href="tel:+380501579581"><span class="tel-wrapper__image-wrapper"><img class="tel-wrapper__image" src="../../../static/img/header-footer/footer-phone.png"/></span><span class="tel-wrapper__tel">+ 38 050 157-95-81 </span></a><a class="footer__mail" href="mailto:info@gmail.com">info@gmail.com</a>
                                                                                                                    </div>
                                                                                          </div>
                                                                                          <div class="footer__bottom-row">
                                                                                                                    <p class="footer__development">Developed by WebCase
                                                                                                                    </p>
                                                                                                              <div class="menu-body">
                                                                                                                                        <ul class="menu-body__list"> 
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="../../../templates/index.html">Home</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link menu-body__link--active" href="#">Catalog</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="../../../templates/pages/payment/payment.html">Payment and delivery</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="../../../templates/pages/contacts/contacts.html">Contacts</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="menu-body__item js-menu-link"> <a class="menu-body__link" href="#">About us</a>
                                                                                                                                                                  </li>
                                                                                                                                        </ul>
                                                                                                              </div><a class="footer__search-wrapper" href="#"><img class="footer__search" src="../../../static/img/header-footer/menu-search.svg"/></a>
                                                                                          </div>
                                                                                          <div class="footer__abs-wrapper"> <img class="footer__abs-image img" src="../../../static/img/abs/abs-lines.png"/>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </footer>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq4JCX3T23IUj32KRtJsrC5xzN0YDy7zM&amp;callback=initMap"></script>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>